@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f8f8f8;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #46c35f; /* Green scrollbar */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #46c35f; /* Darker green on hover */
}
